body {
    font-family: 'PT Sans', sans-serif;

}

.container {
    padding: 0px 75px 0px 75px;
}

a {
    text-decoration-line: none;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: rgb(128, 128, 128);
}

h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
    color: #fff;
}

h4 {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 31.9px;
    color: rgb(128, 128, 128);
}

h1,
h2,
h3,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

button {
    border: none;
    outline: none;
    background: none;
}

/*start header*/
.header {
    background-image: url(../img/about/bgheader.webp);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    background-color: #0B121F;
}

.navbar-toggler-icon {
    background-image: url(../img/index/bars-solid-full.svg);
}

.nav-item .nav-link {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    color: #ffffff;

}

.nav-item a {
    transition: all 0.5S;
}

.nav-item :hover {
    color: rgb(255, 197, 96);
    text-decoration-line: underline;
    text-decoration-color: #fff;

}

.aboutUs h1 {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 95px;
    font-weight: 700;
    line-height: 95px;
    color: rgb(255, 255, 255);
    top: 190px;
}

/*end header*/
.queen {
    width: 570px;
    height: 560.88px;
    display: flex;
}

.about img {
    width: 80px;
    height: 30px;
}

.about h2 {
    padding-top: 12px;
    padding-bottom: 17px;
    font-size: 48px;
    font-weight: 700;
    line-height: 55.2px;
    color: rgb(11, 18, 31);

}

.about p {
    padding-top: 21px;

}

.learn a {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: #C34337;
    transition: all 0.5s;
}

.learn button {
    border: 3px solid #C34337;
    border-radius: 2px;
    padding: 10px 25px;
    transition: all 0.5s;
}

.learn button:hover {
    background-color: #C34337;
    color: #ffffff;
}

.learn button:hover a {
    color: #ffffff;
}

@media screen and (max-width:760px) {
    .queen {
        width: 310px;
        height: 400px;
    }

    .outer-about .container {
        padding: 0px 0px 0px 10px;
    }
}

@media screen and (max-width:1000px) {
    .aboutSection {
        flex-wrap: wrap;
    }
}

/*end about*/
/*start result of number*/
.aboutOffer {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.st-res {
    background-image: url(../img/about/king.webp);
    background-repeat: no-repeat;
    width: 320px;
    height: 370px;
    background-size: contain;
}

.nd-res {
    background-image: url(../img/about/queen.webp);
    background-repeat: no-repeat;
    width: 320px;
    height: 370px;
    background-size: contain;
}

.rd-res {
    background-image: url(../img/about/knight.webp);
    background-repeat: no-repeat;
    width: 320px;
    height: 370px;
    background-size: contain;
}

.res span {
    border: 2px solid #fff;
    background-color: #0B121F;
    position: relative;
    top: 185px;
    right: 65px;
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(255, 197, 96);
    width: 100px;
    height: 100px;

}

.res h3 {
    top: 300px;
    left: 50px;
}

/*end result of number*/
/*stard award*/
.award-pic {
    width: 263px;
    height: 203px;
}

.award-pic img {
    object-fit: contain;
    width: 157px;
    height: 157px;
}

/*end award*/
/*start history*/
.details-history img {
    width: 300px;
    height: 216px;
}

/*end history*/
/*start Team*/

.cardSpan {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    color: rgb(11, 18, 31);
}

.totCard {
    width: 370px;
    height: 548.7px;
}

.cardImg {
    width: 370px;
    height: 405px;
    object-fit: cover;
}
@media screen and (max-width: 1200px){
    .outerCard{
        flex-wrap: wrap
    }
    .cardImg{
         width: 270px;
    height: 405px;

    }
};
    


/*end Team*/