.paddingB18 {
    padding-bottom: 18px;
}
.paddingT17 {
    padding-top: 17px;
}
.paddingB21{
    padding-bottom: 21px;
}
.paddingB28 {
    padding-bottom: 28px;
}
.paddingB22 {
    padding-bottom: 22px;
}

.paddingB82 {
    padding-bottom: 82px;
}
.paddingB250 {
    padding-bottom: 250px;
}
.paddingB41 {
    padding-bottom: 41px;
}
.paddingB16{
    padding-bottom: 16px;
}
.paddingB15{
    padding-bottom: 15px;
}
.paddingt15{
    padding-top: 15px;
}
.paddingt55 {
    padding-top: 55px;
}
.paddingt40 {
    padding-top: 40px;
}
.paddingt30 {
    padding-top: 30px;
}
.paddingB40 {
    padding-bottom: 40px;
}
.paddingB50 {
    padding-bottom: 50px;
}
.paddingT50 {
    padding-top: 50px;
}
.paddingB60 {
    padding-bottom: 60px;
}
.paddingB90 {
    padding-bottom: 90px;
}
.paddingt250 {
    padding-top: 250px;
}
.paddingLR15{
    padding-left: 15px;
    padding-right: 15px;
}
.paddingLR120{
    padding-left: 106px;
    padding-right: 106px;
}
.paddingL60{
    padding-left: 60px;

}
.paddingL70{
    padding-left: 70px;

}
.paddingL120{
    padding-left: 120px;

}
.paddingL45{
    padding-left: 45px;

}
.paddingLR25{
    padding-left: 25px;
    padding-right: 25px;
}
.paddingLR45{
    padding-left: 35px;
    padding-right: 35px;
}
.paddingt90 {
    padding-top: 90px;
}
.paddingt100 {
    padding-top: 100px;
}
.paddingB100 {
    padding-bottom: 100px;
}
.paddingB12 {
    padding-bottom: 12px;
}
.paddingB38 {
    padding-bottom: 38px;
}
.paddingt80 {
    padding-top: 80px;
}
.paddingL30{
    padding-left: 30px;
}

.paddingt67{
    padding-top: 67px;
}
.paddingL15{
    padding-left: 15px;
}
.paddingR50{
    padding-right: 50px;
}
.gap40{
    gap: 40px;
}
.gap15{
    gap: 15px;
}
.gap10{
    gap: 10px;
}
.gap30{
    gap: 40px;
}
.gap20{
    gap: 20px;
}
.gap63{
    gap: 63px;
}
.marginB115{
    margin-bottom: 115px;
}
.bg-yellow{
    background-color: #FFC560;
}
.color-FFC560{
    color: #FFC560;
}
.color-DD8138{
    color: #DD8138;
}
.color-C34337{
    color: #C34337;
}
.text-coldark{
    color: #0B121F;
}
.bd-coldark{
    background-color: #0B121F;
}
.border2{
    border-color: #F7F7F1;
    border-width: 2px;
}
.H-250{
    height: 250px;
}
.wd-102{
        width: 102px;

}
.wd-140{
    width: 140px;
}
.wd-270{
    width: 270px;
}
.h-365{
    height: 365px;
}
.bg-F7F7F1{
    background-color: #F7F7F1;
}
.margin-left{
    margin-left: 310px;
}
