body {
    font-family: 'PT Sans', sans-serif;

}

.container {
    padding: 0px 75px 0px 75px;
}

a {
    text-decoration-line: none;
}

p {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(128, 128, 128);
}

h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
    color: #fff;
}

h4 {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 31.9px;
    color: rgb(128, 128, 128);
}

h1,
h2,
h3,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

button {
    border: none;
    outline: none;
    background: none;
}

span {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    color: rgb(255, 197, 96);
}

/*start header*/
.header {
    background-image: url(../img/events/eventBG.webp);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    background-color: #0B121F;
}

.navbar-toggler-icon {
    background-image: url(../img/index/bars-solid-full.svg);
}

.nav-item .nav-link {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    color: #ffffff;

}

.nav-item a {
    transition: all 0.5S;
}

.nav-item :hover {
    color: rgb(255, 197, 96);
    text-decoration-line: underline;
    text-decoration-color: #fff;

}

.aboutUs h1 {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 95px;
    font-weight: 700;
    line-height: 95px;
    color: rgb(255, 255, 255);
    top: 190px;
}

/*end header*/
/*start miss event*/
.chessboard img {
    display: flex;
    width: 100%;
    height: auto;

}

.about img {
    width: 80px;
    height: 30px;
}

.about h2 {
    padding-top: 12px;
    padding-bottom: 17px;
    font-size: 48px;
    font-weight: 700;
    line-height: 55.2px;
    color: rgb(11, 18, 31);

}

.about p {
    padding-top: 21px;
}

.detailsCard h3 {
    font-family: Oswald, sans-serif;
    font-size: 95px;
    font-weight: 700;
    line-height: 95px;
}

.detailsCard p {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: rgb(128, 128, 128);
}

.event .card {
    width: 366px;
    height: 342.5px;
    border: 2px solid #F7F7F1;
}

@media screen and (max-width: 500px) {
    .aboutUs h1 {
        font-size: 70px;
        font-weight: 600;
        line-height: 75px;
    }
}

/*end miss event*/
/*start event*/
.card1 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.05);
    background-clip: border-box;
    border: 1px solid rgba(11, 18, 31, 0.2);
}

.card1 .event-time {
    font-family: Oswald, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
    color: #0B121F;
}

.card1 .player-name {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: #808080;
}

.card1 img {
    width: 170px;
    height: 170px;
}

.card1 p {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}

.card1 a {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
    color: #0B121F;
    transition: all 0.5s;

}

@media screen and (max-width:1000px) {
    .card1 p {
        display: none;
    }

    .card1 a {
        font-size: 17px;
        font-weight: 600;
        line-height: 32.5px;
    }

    .card1 img {
        display: none;
    }
}

.card1 a:hover {
    text-decoration-line: underline;
}

.reqinner {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 47px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: #0B121F;
}

.reqTContact a {
    transition: all 0.5s;
    padding: 16px 25px;

}

.reqTContact :hover {
    background-color: #0B121F;
    color: #ffffff;
}

.learn a {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    color: #0B121F;
    transition: all 0.5s;
}

.learn button {
    border: 3px solid #0B121F;
    border-radius: 2px;
    padding: 10px 25px;
    transition: all 0.5s;
}

.learn button:hover {
    background-color: #0B121F;
    color: #ffffff;
}

.learn button:hover a {
    color: #ffffff;
}

/*end events*/
/*start SEAT*/
.seat {
    background-image: url(../img/events/chessBG.webp);
    height: 1000px;
    background-size: cover;
}

.counter span {
    font-family: Oswald, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    color: rgb(255, 255, 255);
}

.counter p {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    padding-top: 9px;
}

.counter {
    position: relative;
}

.st::after {
    content: " ";
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 16px;
    left: 470px;
}

.nd::after {
    content: " ";
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 16px;
    left: 658px;
}

.rd::after {
    content: " ";
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 16px;
    left: 856px;
}

.innerreqTContact1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 167px;
    height: 52px;
    border-radius: 2px;
    font-size: 16.5px;
    font-weight: 700;
    line-height: 16.5px;
    color: #0B121F;
}

.reqTContact1 a {
    transition: all 0.5s;

}

.reqTContact1 :hover {
    background-color: #fff;
}

@media screen and (max-width:1400px) {
    .st::after {
        bottom: 16px;
        left: 400px;
    }

    .nd::after {
        bottom: 16px;
        left: 558px;
    }

    .rd::after {
        bottom: 16px;
        left: 735px;
    }
}

@media screen and (max-width:1200px) {
    .st::after {
        bottom: 16px;
        left: 350px;
    }

    .nd::after {
        bottom: 16px;
        left: 475px;
    }

    .rd::after {
        bottom: 16px;
        left: 615px;
    }
}

@media screen and (max-width:1000px) {
    .st::after {
        bottom: 16px;
        left: 269px;
    }

    .nd::after {
        bottom: 16px;
        left: 355px;
    }

    .rd::after {
        bottom: 16px;
        left: 453px;
    }
}

@media screen and (max-width:770px) {
    .st::after {
        content: none;
    }

    .nd::after {
        content: none;
    }

    .rd::after {
        content: none;
    }
    .counter{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:770px) {
    .seat{
        height: 1300px;
    }
}


/*end SEAT*/