body {
    font-family: 'PT Sans', sans-serif;


}

a {
    text-decoration-line: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}
button {
    border: none;
    outline: none;
    background: none;
}

/*start header*/
.header {
    background-image: url(../img/index/Image+Background.webp);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler-icon {
    background-image: url(../img/index/bars-solid-full.svg);
}
.nav-item a {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;

}
/*end header*/