body {
    font-family: 'PT Sans', sans-serif;


}

a {
    text-decoration-line: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}
/*start header*/
.header {
    background-image: url(../img/index/Image+Background.webp);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler-icon {
    background-image: url(../img/index/bars-solid-full.svg);
}

.image img {
    width: 330px;
    height: 32px;
}

.chess h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 95px;
    font-weight: 700;
    line-height: 95px;
    color: rgb(255, 255, 255);
}

button {
    border: none;
    outline: none;
    background: none;
}

.play img {
    width: 24px;
    height: 24px;
}

.inplay {
    font-size: 16.5px;
    font-weight: 700;
    line-height: 16.5px;
    color: rgb(239, 240, 241);
}

.nav-item a {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    color: rgb(255, 255, 255);
}

.desOfTitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(255, 255, 255);
}
/*end header*/