body {
    font-family: 'PT Sans', sans-serif;

}

.container {
    padding: 0px 75px 0px 75px;
}

a {
    text-decoration-line: none;
}

p {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(128, 128, 128);
}

h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
    color: #fff;
}

h4 {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 31.9px;
    color: rgb(128, 128, 128);
}

h1,
h2,
h3,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

button {
    border: none;
    outline: none;
    background: none;
}

span {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px;
    color: rgb(255, 197, 96);
}

/*start header*/
.header {
    background-image: url(../img/result/resultBG.webp);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    background-color: #0B121F;
}

.navbar-toggler-icon {
    background-image: url(../img/index/bars-solid-full.svg);
}

.nav-item .nav-link {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    color: #ffffff;

}

.nav-item a {
    transition: all 0.5S;
}

.nav-item :hover {
    color: rgb(255, 197, 96);
    text-decoration-line: underline;
    text-decoration-color: #fff;

}

.aboutUs h1 {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 95px;
    font-weight: 700;
    line-height: 95px;
    color: rgb(255, 255, 255);
    top: 190px;
}

@media screen and (max-width: 500px) {
    .aboutUs h1 {
        font-size: 70px;
        font-weight: 600;
        line-height: 75px;
    }
}

/*end header*/
/*start Tournaments*/
.queen {
    width: 570px;
    height: 470.75px;
    display: flex;
}

.about img {
    width: 80px;
    height: 30px;
}

.about h2 {
    padding-top: 12px;
    padding-bottom: 17px;
    font-size: 48px;
    font-weight: 700;
    line-height: 55.2px;
    color: rgb(11, 18, 31);

}

.about p {
    padding-top: 21px;

}

.inabout {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: rgb(128, 128, 128);
}


@media screen and (max-width:760px) {
    .queen {
        width: 440px;
        height: 370px;
    }

    .outer-about .container {
        padding: 0px 0px 0px 0px;
    }
}

@media screen and (max-width:1000px) {
    .aboutSection {
        flex-wrap: wrap;

    }
}

@media screen and (max-width:445px) {
    .queen {
        width: 340px;
        height: 270px;
    }

    .about h2 {
        font-size: 38px;
        font-weight: 600;
        line-height: 45.2px;
    }
}

.detailsCard h3 {
    font-family: Oswald, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: rgb(21, 35, 60);
}

.detailsCard a {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 25.5px;
    color: rgba(0, 0, 0, 0.5);
}

.event .card {
    width: 263px;
    height: 404px;
    border: 2px solid #F7F7F1;
}

@media screen and (max-width: 500px) {
    .aboutUs h1 {
        font-size: 70px;
        font-weight: 600;
        line-height: 75px;
    }
}

.left {
    position: relative;
    top: 10px;
}

.left {
    position: relative;
    top: 202px;
    left: 130px;
}

.right {
    position: relative;
    bottom: 235px;
    left: 1350px;
}

/*end Tournaments*/
/*start Gallery*/
.galimg {
    width: 1170px;
    height: 731px;
}

.imgs img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

@media screen and (max-width:1400px) {
    .galimg {
        width: 1000px;
        height: 700px;

    }

    .imgs {
        width: 1000px;
        justify-content: space-between;
    }

    .imgs img {
        width: 230px;
        height: 230px;
    }
}

@media screen and (max-width:1200px) {
    .galimg {
        width: 800px;
        height: 500px;

    }

    .imgs {
        width: 800px;
        justify-content: space-between;
    }

    .imgs img {
        width: 190px;
        height: 190px;
    }
}

@media screen and (max-width:1000px) {
    .galimg {
        width: 600px;
        height: 400px;
    }

    .imgs {
        width: 600px;
        justify-content: space-between;
    }

    .imgs img {
        width: 140px;
        height: 140px;
    }
}

@media screen and (max-width:770px) {
    .gallery .container {
        padding: 0px 0px 0px 20px;
    }

    .galimg {
        width: 350px;
        height: 280px;
    }

    .imgs {
        width: 350px;
        justify-content: space-between;
    }

    .imgs img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width:490px) {
    .gallery .container {
        padding: 0px 0px 0px 25px;
    }

    .galimg {
        width: 280px;
        height: 200px;
    }

    .imgs {
        width: 280px;
        justify-content: space-between;
    }

    .imgs img {
        width: 60px;
        height: 60px;
    }
}

/*end Gallery*/
/*start video*/
.vid img {
    width: 570px;
    height: 491px;
    object-fit: cover;
    position: relative;
}

@media screen and (max-width:1400px) {
    .vid {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:770px) {
    .video .container {
        padding: 0px 0px 0px 10px;
    }

    .vid img {
        width: 420px;
        height: 391px;
    }
}

@media screen and (max-width:470px) {
    .video .container {
        padding: 0px 0px 0px 20px;
    }

    .vid img {
        width: 329px;
        height: 391px;
    }


}
@media screen and (max-width:349px) {
    .video .container {
        padding: 0px 0px 0px 0px;
    }

    .vid img {
        width: 329px;
        height: 391px;
    }


}

/*end video*/