body {
    font-family: 'PT Sans', sans-serif;

}

.container {
    padding: 0px 75px 0px 75px;
}

a {
    text-decoration-line: none;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: rgb(128, 128, 128);
}

h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
    color: #fff;
}

h4 {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 31.9px;
    color: rgb(128, 128, 128);
}

h1,
h2,
h3,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

button {
    border: none;
    outline: none;
    background: none;
}
span{
    font-family: "PT Sans", sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 19.6px;
color: rgb(255, 197, 96);
}
/*start header*/
.header {
    background-image: url(../img/result/resultBG.webp);
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    background-color: #0B121F;
}

.navbar-toggler-icon {
    background-image: url(../img/index/bars-solid-full.svg);
}

.nav-item .nav-link {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    color: #ffffff;

}

.nav-item a {
    transition: all 0.5S;
}

.nav-item :hover {
    color: rgb(255, 197, 96);
    text-decoration-line: underline;
    text-decoration-color: #fff;

}

.aboutUs h1 {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 95px;
    font-weight: 700;
    line-height: 95px;
    color: rgb(255, 255, 255);
    top: 190px;
}
@media screen and (max-width: 500px){
.aboutUs h1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 75px;
}
}